@charset "UTF-8";
/*
Theme Name: Expérimentations Urbaines par l'ADEME
Theme URI: https://ihaveagreen.fr
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Thème du site Expérimentations Urbaines de l'Ademe - Site principal
Version: 1.0
*/
/* Normalize */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*

Custom Mixins

File structure :
------------------
1 - Responsive spacing
  1.1 - spacing()
  1.2 - gutter()
  1.3 - Pixel -> Rem
------------------
2 - Font settings
  2.1 - Font()
  2.2 font-weight()
  2.3 - font-size()
------------------
3 - Link
  3.1 - Link default
  3.2 - Link underline
  3.3 - Button
------------------
4 - Icon

*/
/* 1 - Responsive spacing
--------------------------*/
/* 1.3 - Pixel -> Rem
 * Function to convert px value into rem
 * Source : https://www.choosepizzi.net/sass-mixin-for-convert-px-to-rem/
 * The default font size for html is 16px
 */
/* 2 - Font settings
--------------------------*/
/* 4 - Icon
--------------------------*/
/*
// Icon in background for interface element
@mixin icon($name) {

  @if $name = arrow-down-white {
    background-image: url("./image/angle-down-white.svg");
  }

  @if $name = arrow-down {
    background-image: url("./image/angle-down.svg");
  }

  padding-right: 1em;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 0.5em;
}
*/
/* Font Face Rules 

 Fonts used :
 
 01 - Roboto 
     1.1 : Roboto Regular
     1.2 : Roboto Italic
     1.3 : Roboto Bold
     1.4 : Roboto Bold Italic

02 - Roboto Condensed 
     2.1 : Roboto Condensed Bold
     2.2 : Roboto Condensed Bold Italic
*/
/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./font/roboto-regular.woff2") format("woff2"), url("./font/roboto-regular.woff") format("woff"), url("./font/roboto-regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./font/roboto-italic.woff2") format("woff2"), url("./font/roboto-italic.woff") format("woff"), url("./font/roboto-italic.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./font/roboto-bold.woff2") format("woff2"), url("./font/roboto-bold.woff") format("woff"), url("./font/roboto-bold.ttf") format("ttf");
}

/*
@font-face {
     font-family: 'Roboto';
     font-style:  italic;
     font-weight: 700;
     font-display: swap;
     src: url("./font/roboto-bolditalic.woff2") format("woff2"),
          url("./font/roboto-bolditalic.woff") format("woff"),
            url("./font/roboto-bolditalic.ttf") format("ttf");
}
*/
/* Roboto Condensed */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./font/robotocondensed-bold.woff2") format("woff2"), url("./font/robotocondensed-bold.woff") format("woff"), url("./font/robotocondensed-bold.ttf") format("ttf");
}

/*
@font-face {
     font-family: 'Roboto Condensed';
     font-style:  italic;
     font-weight: 700;
     font-display: swap;
     src: url("./font/robotocondensed-bolditalic.woff2") format("woff2"),
          url("./font/robotocondensed-bolditalic.woff") format("woff"),
            url("./font/robotocondensed-bolditalic.ttf") format("ttf");
}
*/
/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes

*/
.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.skip-link:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 0.5em;
  top: 0.5em;
  line-height: normal;
  padding: 1em 1.5em 1em;
  text-decoration: none;
  width: unset;
  z-index: 1000;
  /* Above WP toolbar. */
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-weight: 400;
  font-size: 15px;
  color: #383838;
  background: #fff;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
}

@media screen and (min-width: 67.5rem) {
  body {
    font-size: 1rem;
  }
}

*::selection {
  color: #000;
  outline-color: #10A4B5;
  background-color: #10A4B5;
}

*:focus,
*:focus-visible {
  color: #000;
  outline-color: #e94337;
  background-color: #fff;
}

.body-like {
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  display: block;
  text-transform: none;
  font-family: "Roboto", "Arial", sans-serif;
  color: #383838;
}

@media screen and (min-width: 67.5rem) {
  .body-like {
    font-size: 1rem;
  }
}

.italic {
  font-weight: 400;
  font-size: 15px;
  font-style: italic;
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
}

@media screen and (min-width: 67.5rem) {
  .italic {
    font-size: 1rem;
  }
}

.text-small {
  font-size: 1rem;
  line-height: 1.2;
}

@media screen and (min-width: 67.5rem) {
  .text-small {
    font-size: 1rem;
  }
}

.text-small:focus {
  font-size: 15px;
}

@media screen and (min-width: 67.5rem) {
  .text-small:focus {
    font-size: 1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

h1, .h1-like {
  font-weight: 700;
  font-size: 2rem;
}

@media screen and (min-width: 67.5rem) {
  h1, .h1-like {
    font-size: 2.8125rem;
  }
}

h2, .h2-like {
  font-weight: 700;
  font-size: 1.5rem;
  color: #C40101;
}

@media screen and (min-width: 67.5rem) {
  h2, .h2-like {
    font-size: 2.25rem;
  }
}

h3, .h3-like {
  font-weight: 700;
  font-size: 1.25rem;
}

@media screen and (min-width: 67.5rem) {
  h3, .h3-like {
    font-size: 1.5rem;
  }
}

h4, .h4-like {
  font-weight: 700;
  font-size: 1.25rem;
}

@media screen and (min-width: 67.5rem) {
  h4, .h4-like {
    font-size: 1.25rem;
  }
}

h5, .h5-like {
  font-weight: 700;
  font-size: 1.125rem;
}

@media screen and (min-width: 67.5rem) {
  h5, .h5-like {
    font-size: 1.125rem;
  }
}

h6, .h6-like {
  font-weight: 700;
  font-size: 1rem;
}

@media screen and (min-width: 67.5rem) {
  h6, .h6-like {
    font-size: 1rem;
  }
}

b, strong, .bold {
  font-weight: 700;
}

h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
  margin: 0 0 1em 0;
  display: block;
  padding: 0;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  /*
                                &.margin-b {
                                    margin-top: 0;
                                    margin-bottom: 1em;
                                }
                                */
}

.font-text {
  font-family: "Roboto", "Arial", sans-serif;
}

.font-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.no-margin {
  margin: 0;
}

/*
.lead-paragraph {
    @include font(h6, regular);
    * {
        @include font-size(h6);
    }
}
*/
p {
  font-size: inherit;
  margin: 0 0 1rem 0;
}

.small-text {
  font-size: 0.875rem;
}

@media screen and (max-width: 25rem) {
  .tiny-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
}

@media screen and (max-width: 42.5rem) {
  .mobile-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
}

@media screen and (min-width: 25rem) and (max-width: 42.5rem) {
  .mobile-xl-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
}

@media screen and (min-width: 42.5rem) and (max-width: 67.5rem) {
  .tablet-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
}

@media screen and (min-width: 67.5rem) and (max-width: 79.9375rem) {
  .desktop-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
}

@media screen and (min-width: 100rem) {
  .menu-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
}

@media screen and (min-width: 79.9375rem) {
  .huge-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
}

.white {
  color: #fff;
}

/*
.gray-light {   color: $gray-light;}
.gray-medium {  color: $gray-medium;}
.gray-dark {    color: $gray-dark;}
.black {        color: $black;}
*/
.primary {
  color: #10A4B5;
}

.secondary {
  color: #e94337;
}

.color1 {
  color: #10A4B5;
}

.color2 {
  color: #148E83;
}

.color3 {
  color: #06796E;
}

.color4 {
  color: #03645A;
}

.white-bg {
  background-color: #fff;
}

.gray-light-bg {
  background-color: #F8F4F4;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.inline {
  display: inline;
}

.left-for-desktop {
  text-align: center;
}

@media screen and (min-width: 67.5rem) {
  .left-for-desktop {
    text-align: left;
  }
}

button.reset-style {
  -webkit-backface-visibility: hidden;
  background: transparent;
  border: solid 1px transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btn-tag {
  font-size: 15px !important;
  overflow-wrap: unset !important;
  word-break: unset !important;
}

@media print {
  header#masthead {
    display: none;
  }
  .screen-reader-text {
    display: none;
  }
  footer#footer {
    display: none;
  }
}

/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 : Narrow-wrapper
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/
/* 1 - Wrapper settings
------------------ */
.wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 25rem) {
  .wrapper {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .wrapper {
    padding-left: 3.125rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .wrapper {
    padding-left: 5.625rem;
  }
}

@media screen and (min-width: 25rem) {
  .wrapper {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .wrapper {
    padding-right: 3.125rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .wrapper {
    padding-right: 5.625rem;
  }
}

.wrapper > img,
.wrapper > picture {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: auto;
  object-fit: cover;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  margin: auto;
  object-fit: cover;
}

.wrapper-large {
  max-width: 79.9375rem;
}

.wrapper-medium {
  max-width: 53.75rem;
}

.wrapper-small {
  max-width: 30rem;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
}

/* 2 - Horizontal padding
------------------ */
.h-padding-regular {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 25rem) {
  .h-padding-regular {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .h-padding-regular {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .h-padding-regular {
    padding-left: 3.125rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .h-padding-regular {
    padding-left: 5.625rem;
  }
}

@media screen and (min-width: 25rem) {
  .h-padding-regular {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .h-padding-regular {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .h-padding-regular {
    padding-right: 3.125rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .h-padding-regular {
    padding-right: 5.625rem;
  }
}

.h-padding-small {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 25rem) {
  .h-padding-small {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .h-padding-small {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .h-padding-small {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .h-padding-small {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .h-padding-small {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .h-padding-small {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .h-padding-small {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .h-padding-small {
    padding-right: 6rem;
  }
}

/* 3 - Vertical padding
------------------ */
.v-padding-regular {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 25rem) {
  .v-padding-regular {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-regular {
    padding-top: 5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .v-padding-regular {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .v-padding-regular {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-regular {
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .v-padding-regular {
    padding-bottom: 6rem;
  }
}

.btm-padding-regular {
  padding-bottom: 4rem;
}

@media screen and (min-width: 25rem) {
  .btm-padding-regular {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .btm-padding-regular {
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .btm-padding-regular {
    padding-bottom: 6rem;
  }
}

.top-padding-regular {
  padding-top: 4rem;
}

@media screen and (min-width: 25rem) {
  .top-padding-regular {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .top-padding-regular {
    padding-top: 5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .top-padding-regular {
    padding-top: 6rem;
  }
}

.v-padding-small {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 25rem) {
  .v-padding-small {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-small {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .v-padding-small {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .v-padding-small {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 25rem) {
  .v-padding-small {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-padding-small {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .v-padding-small {
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .v-padding-small {
    padding-bottom: 3rem;
  }
}

.btm-padding-small {
  padding-bottom: 2rem;
}

@media screen and (min-width: 25rem) {
  .btm-padding-small {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .btm-padding-small {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .btm-padding-small {
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .btm-padding-small {
    padding-bottom: 3rem;
  }
}

.top-padding-small {
  padding-top: 2rem;
}

@media screen and (min-width: 25rem) {
  .top-padding-small {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .top-padding-small {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .top-padding-small {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  .top-padding-small {
    padding-top: 3rem;
  }
}

.v-padding-tiny {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 67.5rem) {
  .v-padding-tiny {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .v-padding-tiny {
    padding-bottom: 1.5rem;
  }
}

.btm-padding-tiny {
  padding-bottom: 1rem;
}

@media screen and (min-width: 67.5rem) {
  .btm-padding-tiny {
    padding-bottom: 1.5rem;
  }
}

.top-padding-tiny {
  padding-top: 1rem;
}

@media screen and (min-width: 67.5rem) {
  .top-padding-tiny {
    padding-top: 1.5rem;
  }
}

/* 4 - Link
------------------ */
.link-default {
  color: #10A4B5;
  transition: .2s all;
  cursor: pointer;
}

.link-default:link, .link-default:visited {
  color: #10A4B5;
}

.link-default:hover, .link-default:focus, .link-default[focus-within] {
  color: #000;
}

.link-default:hover, .link-default:focus, .link-default:focus-within {
  color: #000;
}

.link-default:focus, .link-default[focus-within] {
  outline-color: #000;
}

.link-default:focus, .link-default:focus-within {
  outline-color: #000;
}

.link-default .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

.link-default:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

.link-default:active {
  text-decoration: underline;
}

.link-discrete {
  color: inherit;
  text-decoration: none;
  transition: .2s all;
  cursor: pointer;
}

.link-discrete:link, .link-discrete:visited {
  color: inherit;
}

.link-discrete .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

.link-discrete:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

.link-discrete:hover, .link-discrete:focus {
  color: #10A4B5;
}

.link-discrete:hover .img-in-link, .link-discrete:focus .img-in-link {
  opacity: 0.5;
}

.link-discrete:active {
  text-decoration: underline;
}

.link-color:link, .link-color:visited {
  text-decoration: none;
}

.link-color * {
  transition: all .1s;
}

.link-color:hover *,
.link-color:focus * {
  color: #10A4B5;
}

.link-color:active {
  color: #383838;
}

.link-color:active * {
  color: #383838;
}

.link-color:hover, .link-color:focus {
  color: #10A4B5;
}

.link-color:hover .img-in-link, .link-color:focus .img-in-link {
  opacity: 0.5;
}

.link-color:active {
  text-decoration: underline;
}

.link-color:active {
  text-decoration: underline;
}

.link-black {
  color: inherit;
  text-decoration: underline;
}

.link-black:link, .link-black:visited {
  color: inherit;
}

.link-black:hover, .link-black:focus {
  color: #10A4B5;
}

.link-black:hover .img-in-link, .link-black:focus .img-in-link {
  opacity: 0.5;
}

.link-black:active {
  text-decoration: underline;
}

.link-black:active {
  text-decoration: underline;
}

.link-icon, button.link-icon {
  display: inline-block;
  text-decoration: none;
  color: #383838;
  font-weight: 700;
  text-transform: uppercase;
  transition: .2s all;
  padding: 1em 1.5em 0.8em;
  cursor: pointer;
  padding: 0.5em;
  line-height: 0;
  background-color: transparent;
  border: 1px solid transparent;
}

.link-icon:link, .link-icon:visited, button.link-icon:link, button.link-icon:visited {
  color: #383838;
}

.link-icon > *,
.link-icon img,
.link-icon picture, button.link-icon > *,
button.link-icon img,
button.link-icon picture {
  transition: inherit;
}

.link-icon > *, button.link-icon > * {
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}

.link-icon.icon-left img, .link-icon.icon-left picture, button.link-icon.icon-left img, button.link-icon.icon-left picture {
  margin-right: 0.5em;
}

.link-icon.icon-right img, .link-icon.icon-right picture, button.link-icon.icon-right img, button.link-icon.icon-right picture {
  margin-left: 0.5em;
}

.link-icon:focus, .link-icon:focus-visible, button.link-icon:focus, button.link-icon:focus-visible {
  outline-color: #10A4B5;
}

.link-icon > *, button.link-icon > * {
  filter: grayscale(1) brightness(0.5);
  transition: filter .2s;
}

.link-icon:hover, .link-icon:focus, .link-icon[focus-within], button.link-icon:hover, button.link-icon:focus, button.link-icon[focus-within] {
  color: #383838;
  border-color: #10A4B5;
}

.link-icon:hover, .link-icon:focus, .link-icon:focus-within, button.link-icon:hover, button.link-icon:focus, button.link-icon:focus-within {
  color: #383838;
  border-color: #10A4B5;
}

.link-icon:hover > *, .link-icon:focus > *, .link-icon[focus-within] > *, button.link-icon:hover > *, button.link-icon:focus > *, button.link-icon[focus-within] > * {
  filter: unset;
}

.link-icon:hover > *, .link-icon:focus > *, .link-icon:focus-within > *, button.link-icon:hover > *, button.link-icon:focus > *, button.link-icon:focus-within > * {
  filter: unset;
}

.link-icon:active, button.link-icon:active {
  background: #989898;
  color: #fff;
  border-color: #989898;
  outline-color: #989898;
}

.link-icon:active img,
.link-icon:active picture, button.link-icon:active img,
button.link-icon:active picture {
  filter: invert(1);
}

.link-icon:active > *, button.link-icon:active > * {
  filter: grayscale(1) brightness(4);
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #383838;
  font-weight: 700;
  text-transform: uppercase;
  transition: .2s all;
  padding: 1em 1.5em 0.8em;
  cursor: pointer;
  display: inline-block;
  line-height: 1.2;
  color: #fff;
  background-color: #10A4B5;
  border: 2px solid transparent;
}

.button:link, .button:visited {
  color: #383838;
}

.button > *,
.button img,
.button picture {
  transition: inherit;
}

.button > * {
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}

.button.icon-left img, .button.icon-left picture {
  margin-right: 0.5em;
}

.button.icon-right img, .button.icon-right picture {
  margin-left: 0.5em;
}

.button:focus, .button:focus-visible {
  outline-color: #10A4B5;
}

.button:link, .button:visited {
  color: #fff;
}

.button:hover, .button:focus, .button[focus-within] {
  color: #10A4B5;
  border-color: #10A4B5;
  background-color: #fff;
}

.button:hover, .button:focus, .button:focus-within {
  color: #10A4B5;
  border-color: #10A4B5;
  background-color: #fff;
}

.button:active {
  background: #989898;
  color: #fff;
  border-color: #989898;
  outline-color: #989898;
}

.button:active img,
.button:active picture {
  filter: invert(1);
}

.button-brd, button.button-brd {
  display: inline-block;
  text-decoration: none;
  color: #383838;
  font-weight: 700;
  text-transform: uppercase;
  transition: .2s all;
  padding: 1em 1.5em 0.8em;
  cursor: pointer;
  font-size: 1rem;
  color: #383838;
  background-color: #fff;
  border: 2px solid #383838;
}

.button-brd:link, .button-brd:visited, button.button-brd:link, button.button-brd:visited {
  color: #383838;
}

.button-brd > *,
.button-brd img,
.button-brd picture, button.button-brd > *,
button.button-brd img,
button.button-brd picture {
  transition: inherit;
}

.button-brd > *, button.button-brd > * {
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}

.button-brd.icon-left img, .button-brd.icon-left picture, button.button-brd.icon-left img, button.button-brd.icon-left picture {
  margin-right: 0.5em;
}

.button-brd.icon-right img, .button-brd.icon-right picture, button.button-brd.icon-right img, button.button-brd.icon-right picture {
  margin-left: 0.5em;
}

.button-brd:focus, .button-brd:focus-visible, button.button-brd:focus, button.button-brd:focus-visible {
  outline-color: #10A4B5;
}

@media screen and (min-width: 67.5rem) {
  .button-brd, button.button-brd {
    font-size: 1rem;
  }
}

.button-brd:hover, .button-brd:focus, .button-brd[focus-within], button.button-brd:hover, button.button-brd:focus, button.button-brd[focus-within] {
  background-color: #000;
  border-color: #000;
  outline-color: #000;
  color: #fff;
}

.button-brd:hover, .button-brd:focus, .button-brd:focus-within, button.button-brd:hover, button.button-brd:focus, button.button-brd:focus-within {
  background-color: #000;
  border-color: #000;
  outline-color: #000;
  color: #fff;
}

.button-brd:hover img, .button-brd:hover picture, .button-brd:focus img, .button-brd:focus picture, .button-brd[focus-within] img, .button-brd[focus-within] picture, button.button-brd:hover img, button.button-brd:hover picture, button.button-brd:focus img, button.button-brd:focus picture, button.button-brd[focus-within] img, button.button-brd[focus-within] picture {
  filter: invert(1);
}

.button-brd:hover img, .button-brd:hover picture, .button-brd:focus img, .button-brd:focus picture, .button-brd:focus-within img, .button-brd:focus-within picture, button.button-brd:hover img, button.button-brd:hover picture, button.button-brd:focus img, button.button-brd:focus picture, button.button-brd:focus-within img, button.button-brd:focus-within picture {
  filter: invert(1);
}

.button-brd:active, button.button-brd:active {
  background: #989898;
  color: #fff;
  border-color: #989898;
  outline-color: #989898;
}

.button-brd:active img,
.button-brd:active picture, button.button-brd:active img,
button.button-brd:active picture {
  filter: invert(1);
}

.button-like-brd {
  overflow-wrap: break-word;
  word-break: break-all;
  text-overflow: clip;
  /* Required for text-overflow to do anything */
  overflow: hidden;
  max-width: 100%;
  display: inline-block;
  color: #383838;
  background-color: #fff;
  border: 1px solid #383838;
  border-radius: 0.25em;
  padding: 0.25em 0.5em 0.125em;
}

.button-like-brd * {
  display: inline;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
  text-overflow: clip;
  /* Required for text-overflow to do anything */
  overflow: hidden;
}

/* 4 - Entry Content
----------------- */
/*

// 4.1 - Entry-content global
@mixin entry-content {
  font-size: inherit;
  color: inherit;
  line-height: $lh-standard;
  @include no-useless-margin;

  ul, ol {
  //  @include entry-content-list;
  }

  ol {
  //  @include entry-content-ol;
  }
  
  a {
    @include link-default ;
  }

  blockquote {
    margin: 4rem auto;
  //  @include entry-content-blockquote;
  }

  @include no-useless-margin;

}

*/
.no-useless-margin > *:first-child {
  margin-top: 0;
}

.no-useless-margin > *:last-child {
  margin-bottom: 0;
}

.has-border {
  border: 1px solid #10A4B5;
  transition: all .2s;
}

.has-border:hover, .has-border:focus {
  border-color: #e94337;
}

.has-border:active {
  border-color: #000;
}

.bg-banner::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 0;
  width: 100%;
  height: 12.5rem;
}

@media screen and (min-width: 67.5rem) {
  .bg-banner::after {
    top: 1.35rem;
  }
}

.bg-banner.bg-banner-h3-title::after {
  top: 0.75rem;
}

@media screen and (min-width: 67.5rem) {
  .bg-banner.bg-banner-h3-title::after {
    top: 0.9rem;
  }
}

.bg-banner.bg-banner-page-title::after {
  top: 5.3rem;
}

@media screen and (min-width: 67.5rem) {
  .bg-banner.bg-banner-page-title::after {
    top: 7.5375rem;
  }
}

.bg-pattern::after,
.bg-banner::after {
  background: url(./image/banner-pattern.svg) repeat;
}

.bg-pattern.bg-banner-accueil::after,
.bg-banner.bg-banner-accueil::after {
  background: url(./image/banner-pattern.svg) repeat;
}

.above-bg-banner,
.bg-banner {
  position: relative;
  z-index: 5;
}

/*
.bg-banner-security {
  min-height: (( map-get($fonts, h2-desktop) * $lh-small ) / 2 ) +  12.5rem ;
}
*/
.hide-child * {
  display: none;
}

.search-card .button-brd {
  margin-top: 1rem;
}

/*
Style Topbar [header.php]


File structure :
------------------
1 - Topbar Style
------------------
2 - Logo Style
    2.1 Logos sizes
------------------
3 - Menu style
    3.1 Reset list Style
    3.2 Menu Primary Style
    3.3 Links style
    3.4 Sub-menu style
    3.5 Sub-menu links style
------------------
4 - Social Media Style
------------------
5 - Searchbar Style
------------------
6 - Desktop Layout for Searchbar + Social Media
------------------
7 - Menu mobile
------------------
8 - Scroll  Behaviour 
------------------
9 - Content Top position

*/
#topbar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  z-index: 300;
  text-align: right;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  transition: padding .4s;
}

#topbar #topbar-logo {
  float: left;
  text-align: left;
  margin-top: 30px;
}

@media screen and (max-width: 100rem) {
  #topbar #topbar-logo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

#topbar #topbar-logo > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  transition: all .4s;
}

#topbar #topbar-logo > p {
  font-weight: 700;
  font-size: 15px;
  max-width: 18ch;
}

@media screen and (min-width: 67.5rem) {
  #topbar #topbar-logo > p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 42.5rem) {
  #topbar #topbar-logo > p {
    max-width: 15ch;
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  #topbar #topbar-logo > p {
    max-width: 14ch;
    font-size: 11px;
  }
}

@media screen and (max-width: 330px) {
  #topbar #topbar-logo > p {
    font-size: 10px;
  }
}

#topbar #topbar-logo > img,
#topbar #topbar-logo > picture {
  max-height: 2.5rem;
  margin-right: 0.625rem;
  width: auto;
}

@media screen and (min-width: 42.5rem) {
  #topbar #topbar-logo > img,
  #topbar #topbar-logo > picture {
    max-height: 6.25rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 100rem) {
  #topbar #topbar-logo > img,
  #topbar #topbar-logo > picture {
    max-height: 6.25rem;
    margin-right: 1.875rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 100rem) and (min-width: 100rem) {
  #topbar #topbar-logo > img,
  #topbar #topbar-logo > picture {
    max-height: 6.25rem;
  }
}

@media screen and (max-width: 380px) {
  #topbar #topbar-logo > img,
  #topbar #topbar-logo > picture {
    margin-right: 0.125rem;
  }
}

#topbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topbar ul.menu-primary {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 67.49rem) {
  #topbar ul.menu-primary {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 67.5rem) {
  #topbar ul.menu-primary {
    padding: 1rem 0;
  }
}

#topbar ul.menu-primary a {
  color: inherit;
  text-decoration: none;
  transition: .2s all;
  cursor: pointer;
  line-height: 1.2;
}

#topbar ul.menu-primary a:link, #topbar ul.menu-primary a:visited {
  color: inherit;
}

#topbar ul.menu-primary a .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

#topbar ul.menu-primary a:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

#topbar ul.menu-primary a:hover, #topbar ul.menu-primary a:focus {
  color: #10A4B5;
}

#topbar ul.menu-primary a:hover .img-in-link, #topbar ul.menu-primary a:focus .img-in-link {
  opacity: 0.5;
}

#topbar ul.menu-primary a:active {
  text-decoration: underline;
}

#topbar ul.menu-primary .current-menu-item > a,
#topbar ul.menu-primary .current-menu-ancestor > a {
  text-decoration: underline;
}

#topbar ul.menu-primary li {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #10A4B5;
}

@media screen and (min-width: 100rem) {
  #topbar ul.menu-primary li {
    font-size: 2rem;
  }
}

@media screen and (min-width: 100rem) and (min-width: 100rem) {
  #topbar ul.menu-primary li {
    font-size: 1rem;
    display: inline-block;
    margin-left: 1.5rem;
    margin-bottom: 0;
    color: unset;
  }
}

@media screen and (min-width: 100rem) and (min-width: 100rem) and (min-width: 79.9375rem) {
  #topbar ul.menu-primary li {
    font-size: 1.25rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 100rem) {
  #topbar ul.menu-primary .menu-item-has-children {
    position: relative;
    padding-right: 1.5em;
  }
  #topbar ul.menu-primary .menu-item-has-children::after {
    content: url(./image/arrow-down.svg);
    width: 1em;
    height: auto;
    font-size: inherit;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    transition: transform .2s;
  }
  #topbar ul.menu-primary .menu-item-has-children:focus::after, #topbar ul.menu-primary .menu-item-has-children[focus-within]::after, #topbar ul.menu-primary .menu-item-has-children:active::after, #topbar ul.menu-primary .menu-item-has-children:hover::after {
    color: #10A4B5;
    transform: rotate(90deg);
  }
  #topbar ul.menu-primary .menu-item-has-children:focus::after, #topbar ul.menu-primary .menu-item-has-children:focus-within::after, #topbar ul.menu-primary .menu-item-has-children:active::after, #topbar ul.menu-primary .menu-item-has-children:hover::after {
    color: #10A4B5;
    transform: rotate(90deg);
  }
  #topbar ul.menu-primary .menu-item-has-children:focus .sub-menu, #topbar ul.menu-primary .menu-item-has-children[focus-within] .sub-menu, #topbar ul.menu-primary .menu-item-has-children:active .sub-menu, #topbar ul.menu-primary .menu-item-has-children:hover .sub-menu {
    clip: auto !important;
    clip-path: none;
  }
  #topbar ul.menu-primary .menu-item-has-children:focus .sub-menu, #topbar ul.menu-primary .menu-item-has-children:focus-within .sub-menu, #topbar ul.menu-primary .menu-item-has-children:active .sub-menu, #topbar ul.menu-primary .menu-item-has-children:hover .sub-menu {
    clip: auto !important;
    clip-path: none;
  }
}

#topbar ul.menu-primary .sub-menu li {
  margin: 0 0 0.5em 0;
  line-height: 1.2;
  font-size: 1rem;
}

@media screen and (max-width: 99.99rem) {
  #topbar ul.menu-primary .sub-menu {
    border-left: 2px solid #10A4B5;
    padding-left: 0.5em;
    margin-top: 0.5em;
  }
}

@media screen and (min-width: 100rem) {
  #topbar ul.menu-primary .sub-menu {
    text-align: left;
    position: absolute;
    z-index: 310;
    top: 1.5em;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    overflow: hidden;
    left: 0;
    width: auto;
    padding: 0.5em;
    background: #F8F4F4;
  }
}

#topbar #header-social {
  list-style: none;
  padding: 0;
  margin: 0;
}

#topbar #header-social > li {
  display: inline-block;
  /*
            &:not(:last-child) {
                margin-right: pixel(8);
            }
            */
}

#topbar #form-search {
  display: inline-block;
  max-width: 100%;
}

@media screen and (min-width: 42.5rem) and (max-width: 67.49rem) {
  #topbar #form-search {
    text-align: right;
  }
  #topbar #form-search > * {
    text-align: left;
  }
}

@media screen and (min-width: 67.5rem) {
  #topbar #form-search {
    width: 25rem;
    margin-right: 3.125rem;
  }
}

#topbar #form-search > * {
  display: inline;
  vertical-align: bottom;
  margin-right: 1rem;
}

#topbar #form-search > *:last-child {
  margin-right: 0;
}

#topbar #form-search label {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 67.5rem) {
  #topbar #form-search label {
    font-size: 1rem;
  }
}

#topbar #form-search #search {
  width: 11.25rem;
  max-width: 100%;
  padding: 0.5rem 0;
  color: inherit;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #10A4B5;
  transition: all .2s;
}

@media screen and (min-width: 67.5rem) {
  #topbar #form-search #search {
    padding: 0.25rem 0;
  }
}

#topbar #form-search #search::placeholder {
  color: inherit;
  opacity: 0.5;
}

#topbar #form-search #search:not(:placeholder-shown) {
  opacity: 1;
  border-bottom-color: #e94337;
}

#topbar #form-search #search:focus {
  border-bottom-color: #e94337;
}

@media screen and (min-width: 67.5rem) {
  #topbar #form-search #search:focus {
    width: 13.75rem;
  }
}

#topbar #form-search #search:focus::placeholder {
  opacity: 1;
}

#topbar #form-search,
#topbar #header-social {
  width: 100%;
}

@media screen and (min-width: 67.5rem) {
  #topbar #form-search,
  #topbar #header-social {
    width: unset;
    display: inline-block;
    transition: padding .2s;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 67.5rem) and (min-width: 79.9375rem) {
  #topbar #form-search,
  #topbar #header-social {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

@media screen and (min-width: 67.5rem) {
  #topbar #header-social {
    float: right;
  }
}

#topbar #burger-menu {
  /*@media screen and (max-width: $menu_width - 0.01rem) {
            margin-top: 0.75rem;
            @media screen and (max-width: $mobile-width - 0.01rem) {
                margin-top: 0.25rem;
            }
        }*/
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

@media screen and (max-width: 99.99rem) {
  #topbar #menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: scroll;
    transform: translate(50%, 0%);
    opacity: 0.5;
    background: #F8F4F4;
    transition: all 0.4s;
    margin: 0;
  }
  #topbar #menu.menu-open {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-width: 99.99rem) and (max-width: 42.49rem) {
  #topbar #menu {
    padding: 1.5rem 1rem;
    text-align: center;
  }
  #topbar #menu > * {
    margin: 0;
    margin-bottom: 2rem;
  }
  #topbar #menu ul.menu-primary {
    text-align: left;
  }
}

@media screen and (max-width: 99.99rem) and (min-width: 42.5rem) {
  #topbar #menu {
    padding: 1.5rem 1.5rem;
    display: grid;
    text-align: left;
    grid-template-columns: 8rem 1fr;
    justify-items: start;
  }
  #topbar #menu > * {
    grid-column: 1 / 3;
  }
  #topbar #menu #close-menu {
    grid-column: 1;
    grid-row: 1;
  }
  #topbar #menu #form-search {
    grid-column: 2;
    grid-row: 1;
  }
  #topbar #menu ul.menu-primary {
    grid-row: 2;
  }
}

#topbar.scroll {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  /*#burger-menu {
        margin-top: 0;
    }*/
}

#topbar.scroll #topbar-logo {
  margin-top: 0;
}

#topbar.scroll #topbar-logo > img,
#topbar.scroll #topbar-logo > picture {
  max-height: 2.5rem;
}

@media screen and (min-width: 67.5rem) {
  #topbar.scroll #topbar-logo > img,
  #topbar.scroll #topbar-logo > picture {
    max-height: 3.75rem;
  }
}

@media screen and (min-width: 67.5rem) and (min-width: 79.9375rem) {
  #topbar.scroll #topbar-logo > img,
  #topbar.scroll #topbar-logo > picture {
    margin-top: 0.75rem;
  }
}

@media screen and (min-width: 67.5rem) {
  #topbar.scroll #form-search,
  #topbar.scroll #header-social {
    padding-top: 0;
    padding-bottom: 0;
  }
  #topbar.scroll .menu-primary {
    padding: 0.5rem 0;
  }
}

#content {
  padding-top: 2.875rem;
}

@media screen and (min-width: 42.5rem) {
  #content {
    padding-top: 7.875rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) and (min-width: 100rem) {
  #content {
    padding-top: 8.125rem;
  }
}

/*

Style Footer [footer.php]

*/
#footer {
  width: 100%;
  border-top: 2px solid #000;
  margin-top: 8.4375rem;
}

#footer #footer_top {
  padding-top: 3.75rem;
}

@media screen and (max-width: 67.49rem) {
  #footer #footer_top {
    text-align: center;
  }
  #footer #footer_top > * {
    display: block;
    text-align: left;
    margin: 0 auto 3.75rem auto;
    max-width: 28.75rem;
  }
  #footer #footer_top > #footer-logo {
    text-align: center;
  }
}

@media screen and (min-width: 67.5rem) {
  #footer #footer_top {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 2.5rem;
    grid-template-areas: 'logo content . social';
    grid-template-columns: 4fr 5fr 1fr 2fr;
    padding-bottom: 3.75rem;
    justify-content: left;
    align-items: start;
  }
}

@media screen and (min-width: 67.5rem) and (min-width: 25rem) {
  #footer #footer_top {
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 67.5rem) and (min-width: 67.5rem) {
  #footer #footer_top {
    grid-column-gap: 1.25rem;
  }
}

@media screen and (min-width: 67.5rem) and (min-width: 25rem) {
  #footer #footer_top {
    grid-row-gap: 3.125rem;
  }
}

@media screen and (min-width: 67.5rem) {
  #footer #footer_top #footer-logo {
    grid-area: logo;
  }
  #footer #footer_top #footer-content {
    grid-area: content;
  }
  #footer #footer_top #footer-social {
    grid-area: social;
    align-self: end;
  }
}

#footer #footer-logo img,
#footer #footer-logo picture {
  max-height: 6.25rem;
  width: auto;
}

@media screen and (min-width: 42.5rem) {
  #footer #footer-logo img,
  #footer #footer-logo picture {
    max-height: 7.5rem;
  }
}

#footer #footer-logo img:nth-of-type(2),
#footer #footer-logo picture:nth-of-type(2) {
  margin-left: 1.25rem;
}

#footer #footer_faq {
  display: block;
  margin-bottom: 1em;
}

#footer #footer_bottom {
  padding: 1.5rem 0;
}

#footer #footer_bottom .menu-Last {
  max-width: 79.9375rem;
}

#footer #footer_bottom ul {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  text-align: center;
  justify-content: center;
}

#footer #footer_bottom ul:first-child {
  margin-bottom: 1rem;
}

#footer #footer_bottom ul a {
  color: inherit;
  text-decoration: none;
  transition: .2s all;
  cursor: pointer;
}

#footer #footer_bottom ul a:link, #footer #footer_bottom ul a:visited {
  color: inherit;
}

#footer #footer_bottom ul a .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

#footer #footer_bottom ul a:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

#footer #footer_bottom ul a:hover, #footer #footer_bottom ul a:focus {
  color: #10A4B5;
}

#footer #footer_bottom ul a:hover .img-in-link, #footer #footer_bottom ul a:focus .img-in-link {
  opacity: 0.5;
}

#footer #footer_bottom ul a:active {
  text-decoration: underline;
}

#footer #footer_bottom ul li:not(:last-child) {
  margin: 0;
  margin-right: 3rem;
  position: relative;
}

#footer #footer_bottom ul li:not(:last-child):after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 2px;
  background-color: currentColor;
  top: 50%;
  transform: translate(0, -50%);
  right: -1.5rem;
}

.thumbnail-container img,
.thumbnail-container picture {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/*
Commun page Layout for archive templates
*/
#archive-content {
  max-width: 91.1875rem;
  box-sizing: border-box;
}

@media screen and (min-width: 42.5rem) {
  #archive-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 63.625rem) {
  #archive-content {
    grid-template-columns: 13.09375rem auto;
  }
}

@media screen and (max-width: 42.49rem) {
  #archive-content #archive-settings {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 25rem) {
  #archive-content #archive-settings {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 25rem) and (min-width: 42.5rem) {
  #archive-content #archive-settings {
    max-width: 13.09375rem;
  }
}

@media screen and (min-width: 25rem) and (min-width: 42.5rem) and (min-width: 67.5rem) {
  #archive-content #archive-settings {
    padding-right: 1.25rem;
  }
}

@media screen and (max-width: 24.99rem) {
  #archive-content #filter-content {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #000;
  }
}

/*
Filters used on archive page
*/
#archive-filter input[type="checkbox"] {
  -webkit-appearance: none;
}

#archive-filter details:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 42.5rem) {
  #filter-content {
    padding: 1rem;
    background: #fff;
    border: 1px solid #000;
    margin-top: 1rem;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }
  #filter-content.filter-open, #filter-content:focus, #filter-content[focus-within] {
    clip: none;
    height: unset;
    width: 100%;
    overflow: visible;
    position: unset;
    white-space: unset;
  }
  #filter-content.filter-open, #filter-content:focus, #filter-content:focus-within {
    clip: none;
    height: unset;
    width: 100%;
    overflow: visible;
    position: unset;
    white-space: unset;
  }
}

#archive-buttons.filter-open > button:first-child {
  display: none;
}

#archive-buttons:not(.filter-open) > button:last-child {
  display: none;
}

summary {
  font-size: 1rem;
  transition: .2s all;
  cursor: pointer;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  list-style: none;
  cursor: pointer;
}

@media screen and (min-width: 67.5rem) {
  summary {
    font-size: 1rem;
  }
}

summary .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

summary:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

summary:hover, summary:focus {
  color: #10A4B5;
}

summary:hover .img-in-link, summary:focus .img-in-link {
  opacity: 0.5;
}

summary:active {
  text-decoration: underline;
}

summary::-webkit-details-marker, summary::marker {
  display: none;
}

summary::after {
  content: "+";
  content: url(./image/arrow-down.svg);
  float: right;
  transform: rotate(0deg);
  transition: .2s transform;
}

summary:focus-visible, summary:focus, summary:active {
  outline: none;
  background-color: transparent;
}

details[open] > summary::after {
  transform: rotate(90deg);
}

/* Customize the label (the container) */
.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  line-height: 1.2;
  margin-top: 0.5em;
  padding-left: 1.5rem;
  /*
  &:focus,
  &:focus-within {
    background: $color-secondary;
  }
  */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
}

@media screen and (min-width: 67.5rem) {
  .custom-checkbox {
    font-size: 1rem;
  }
}

.custom-checkbox input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  border: 1px solid #000;
  transition: all .2s;
  /* Create the checkmark/indicator (hidden when not checked) */
}

.custom-checkbox .checkmark:focus {
  background-color: #e94337;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.25rem;
  top: 0.125rem;
  width: 0.2rem;
  height: 0.4rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #989898;
}

/* On focus, add an orange background color */
.custom-checkbox:focus input ~ .checkmark {
  border-color: #000;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #10A4B5;
  border-color: #10A4B5;
  /* Show the checkmark when checked */
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

#archive-project {
  display: grid;
  background: #F8F4F4;
  align-items: start;
  grid-template-columns: 3.625rem auto 1rem;
}

@media screen and (min-width: 42.5rem) {
  #archive-project {
    grid-template-columns: 3.625rem auto 1.5rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  #archive-project {
    grid-template-columns: 3.625rem 1fr 3fr 3.125rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) and (min-width: 79.9375rem) {
  #archive-project {
    grid-template-columns: 5.625rem 1fr 3fr 5.625rem;
  }
}

#archive-project #archive-settings {
  grid-row: 1;
  grid-column: 2 / 3;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 10;
  background-color: #fff;
  padding: 1.5rem;
}

#archive-project #map {
  z-index: 1;
  grid-row: 1;
  grid-column: 1 / 4;
  /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  min-height: 25rem;
  height: 60vh;
  width: 100%;
}

@media screen and (min-width: 67.5rem) {
  #archive-project #map {
    grid-column: 1 / 5;
  }
}

/*

Gutenberg Core blocks

File structure :
------------------
1 - #raw-content : Gutenberg Blocks Container
------------------
2 - Default Gutenberg Blocks
------------------
3 - Custom Gutenberg Blocks

*/
#raw-content {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*
    > .wp-block {
        background: red;
    }
    */
}

#raw-content > *:not(.wp-block):first-child {
  margin-top: 2rem;
}

@media screen and (min-width: 25rem) {
  #raw-content > *:not(.wp-block):first-child {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > *:not(.wp-block):first-child {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 67.5rem) {
  #raw-content > *:not(.wp-block):first-child {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  #raw-content > *:not(.wp-block):first-child {
    margin-top: 3rem;
  }
}

#raw-content > *:not(.wp-block) {
  padding: 0;
  width: 100%;
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  list-style-position: inside;
}

@media screen and (min-width: 25rem) {
  #raw-content > *:not(.wp-block) {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > *:not(.wp-block) {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 67.5rem) {
  #raw-content > *:not(.wp-block) {
    padding-left: 3.125rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  #raw-content > *:not(.wp-block) {
    padding-left: 5.625rem;
  }
}

@media screen and (min-width: 25rem) {
  #raw-content > *:not(.wp-block) {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > *:not(.wp-block) {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 67.5rem) {
  #raw-content > *:not(.wp-block) {
    padding-right: 3.125rem;
  }
}

@media screen and (min-width: 79.9375rem) {
  #raw-content > *:not(.wp-block) {
    padding-right: 5.625rem;
  }
}

#raw-content > *:not(.wp-block) * {
  max-width: 100%;
}

/*

Gutenberg Core blocks

File structure :
------------------
1 - #raw-content : Gutenberg Blocks Container
------------------
2 - Default Gutenberg Blocks
------------------
3 - Custom Gutenberg Blocks

*/
.entry-content > *:first-child {
  margin-top: 0;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.entry-content a {
  color: #10A4B5;
  transition: .2s all;
  cursor: pointer;
}

.entry-content a:link, .entry-content a:visited {
  color: #10A4B5;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a[focus-within] {
  color: #000;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a:focus-within {
  color: #000;
}

.entry-content a:focus, .entry-content a[focus-within] {
  outline-color: #000;
}

.entry-content a:focus, .entry-content a:focus-within {
  outline-color: #000;
}

.entry-content a .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

.entry-content a:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

.entry-content a:active {
  text-decoration: underline;
}

.entry-content blockquote {
  margin: 0;
  padding: 0;
  border-left: 2px solid #10A4B5;
  padding-left: 2rem;
  font-size: 2rem;
  color: #383838;
}

.entry-content ul, .entry-content ol {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.entry-content li {
  list-style-position: inside;
  padding: 0;
  margin-bottom: 0.5em;
}

.entry-content img,
.entry-content picture,
.entry-content iframe,
.entry-content figure,
.entry-content caption {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------

*/
.blk-home-ademe {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, rgba(109, 128, 142, 0), rgba(109, 128, 142, 0.75));
  color: #fff;
  margin-bottom: 2em;
  padding: 2rem 0;
}

@media screen and (min-width: 25rem) {
  .blk-home-ademe {
    padding: 4rem 0;
  }
}

@media screen and (min-width: 25rem) and (min-width: 42.5rem) {
  .blk-home-ademe {
    padding: 3.125rem 0;
    /*@media screen and (min-width: $tablet_width) {
                padding: pixel(180) 0;
                @media screen and (min-width: $desktop_width) {
                    padding: pixel(240) 0;
                }
            }*/
  }
}

.blk-home-ademe .layout-content {
  min-height: 13.75rem;
}

@media screen and (min-width: 25rem) {
  .blk-home-ademe .layout-content {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 25rem) and (min-width: 25rem) {
  .blk-home-ademe .layout-content {
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 25rem) and (min-width: 67.5rem) {
  .blk-home-ademe .layout-content {
    grid-column-gap: 1.25rem;
  }
}

@media screen and (min-width: 25rem) and (min-width: 25rem) {
  .blk-home-ademe .layout-content {
    grid-row-gap: 3.125rem;
  }
}

@media screen and (min-width: 25rem) {
  .blk-home-ademe .layout-content .content-img {
    justify-self: center;
    align-self: center;
  }
}

.blk-home-ademe .content-img {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.blk-home-ademe .content-img * {
  width: auto;
  max-width: 50vw;
  height: auto;
}

@media screen and (min-width: 25rem) {
  .blk-home-ademe .content-img * {
    max-width: 100%;
  }
}

.blk-home-ademe h1 {
  margin-top: 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 25rem) {
  .blk-home-ademe h1 {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-home-ademe h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  .blk-home-ademe h1 {
    font-size: 4.5rem;
  }
}

.blk-home-ademe .txt-title {
  padding: 0 0.25em;
  display: inline-block;
  line-height: 1.5;
  background-color: #10A4B5;
  font-size: inherit;
}

.blk-home-ademe .txt-content {
  text-shadow: black 3px 0 3px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.95));
  display: block;
  font-size: 1.5rem;
}

@media screen and (min-width: 42.5rem) {
  .blk-home-ademe .txt-content {
    font-size: 2rem;
    padding-left: 1.5em;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  .blk-home-ademe .txt-content {
    font-size: 3rem;
  }
}

.blk-home-ademe .bg-image {
  z-index: -5;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blk-home-ademe .bg-banner::after {
  z-index: -1;
  width: 100vw;
  height: 100%;
  left: -1rem;
}

@media screen and (min-width: 42.5rem) {
  .blk-home-ademe .bg-banner::after {
    left: -1.5rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  .blk-home-ademe .bg-banner::after {
    min-height: 12.5rem;
    left: -3.125rem;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) and (min-width: 79.9375rem) {
  .blk-home-ademe .bg-banner::after {
    left: -5.625rem;
  }
}

.blk-about > ol {
  list-style: none;
  counter-reset: ihag-counter;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 91.1875rem) {
  .blk-about > ol {
    max-width: 79.9375rem;
  }
}

.blk-about > ol > li {
  box-sizing: border-box;
  counter-increment: ihag-counter;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-height: 6.25rem;
  margin-bottom: 1rem;
}

.blk-about > ol > li::before {
  content: counter(ihag-counter) ".";
  font-size: 6.25rem;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #E5E5E5;
  line-height: 1;
  width: 1em;
  float: left;
}

.blk-about > ol > li > div {
  width: 100%;
  padding-left: 6.25rem;
  vertical-align: inherit;
}

@media screen and (max-width: 59.53167rem) {
  .blk-about > ol > li {
    max-width: 26.64583rem;
  }
}

@media screen and (min-width: 59.54167rem) and (max-width: 91.1775rem) {
  .blk-about > ol > li {
    max-width: 26.02083rem;
    margin-right: 0.625rem;
    margin-bottom: 3rem;
  }
  .blk-about > ol > li:nth-child(2n) {
    margin-right: 0;
    margin-left: 0.625rem;
  }
}

@media screen and (min-width: 91.1875rem) {
  .blk-about > ol > li {
    max-width: 25.39583rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
  .blk-about > ol > li:nth-child(3n) {
    margin-right: 0;
  }
  .blk-about > ol > li:nth-child(3n-2) {
    margin-left: 0;
  }
}

/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------

*/
.blk-sub-menu {
  margin-bottom: 0;
}

.blk-sub-menu nav {
  margin-top: -2em;
}

.blk-submenu-item {
  display: inline-block;
  padding: 1rem;
  max-width: 100%;
  vertical-align: top;
}

.blk-submenu-item .image-container {
  display: block;
  background: #F8F4F4;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (min-width: 18rem) {
  .blk-submenu-item .image-container {
    width: 15rem;
    height: 15rem;
    border-radius: 7.5rem;
  }
}

.blk-submenu-item .image-container > * {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.blk-submenu-item p {
  margin-top: 2rem;
  position: relative;
  max-width: 15rem;
}

.blk-submenu-item p::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -2rem;
  height: 1.25rem;
  width: 2px;
  background-color: currentColor;
}

/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------

*/
.blk-download ul, .blk-download li {
  list-style: none;
  padding: 0;
  color: #689CB9;
}

.blk-download p {
  color: #383838;
}

.blk-download a {
  display: block;
  padding-top: 0.375rem;
  min-height: 2.375rem;
  box-sizing: border-box;
}

.blk-download a img,
.blk-download a picture {
  float: left;
  margin-right: 0.5rem;
  margin-top: -0.375rem;
}

.blk-download a h4 {
  display: inline;
  text-decoration: underline;
}

.blk-download .display-basic {
  display: block;
  margin-bottom: 0.75rem;
}

.blk-download .display-basic:last-child {
  margin-bottom: 0;
}

.blk-download .display-image {
  display: inline-block;
  max-width: 16.25rem;
  vertical-align: top;
  margin: 0 1rem 1rem 1rem;
}

.blk-download .display-image > a {
  margin: 1.5625rem 0;
}

.blk-download .doc-thumb {
  border: 1px solid #989898;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 19.25rem) {
  .blk-download .doc-thumb {
    width: 16.25rem;
  }
}

.blk-contact > .border {
  position: relative;
}

.blk-contact > .border::before, .blk-contact > .border::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 1px;
  width: 13.75rem;
  background-color: #000;
}

.blk-contact > .border::before {
  top: 0;
}

.blk-contact > .border::after {
  bottom: 0;
}

.blk-contact input {
  margin-top: 2rem;
}

.blk-faq h2 {
  padding: 0 1rem;
}

.blk-faq h2.ami1-color1 {
  color: #000;
}

.blk-faq details {
  border-top: 1px solid #000;
  background: #fff;
  padding: 1rem;
}

.blk-faq details summary {
  font-weight: 700;
  transition: all .2s;
}

.blk-faq details .entry-content {
  margin-top: 1rem;
}

.blk-faq details[open] > summary {
  color: #e94337;
}

.listing-partner {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  align-items: start;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  margin-bottom: 2.5rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 25rem) {
  .listing-partner {
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .listing-partner {
    grid-column-gap: 1.25rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-partner {
    grid-row-gap: 3.125rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-partner {
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .listing-partner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  .listing-partner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) and (min-width: 79.9375rem) {
  .listing-partner {
    grid-template-columns: repeat(4, 1fr);
  }
}

.listing-partner .partner-card {
  padding: 0;
  margin: 0;
}

.listing-partner .partner-card .img-container {
  width: 100%;
  background-color: #fff;
}

.listing-partner .partner-card .img-container > * {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.listing-partner .partner-card .img-container,
.listing-partner .partner-card h2 {
  margin-bottom: 1.5rem;
}

.listing-partner .partner-card > a {
  display: block;
  margin-top: 0.5em;
}

.blk-home-ami .layout {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 25rem) {
  .blk-home-ami .layout {
    grid-gap: 1rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .blk-home-ami .layout {
    grid-gap: 1.25rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-home-ami .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  .blk-home-ami .layout {
    grid-template-columns: repeat(4, 1fr);
  }
}

.blk-home-ami .img-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.blk-home-ami .img-container > * {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 67.5rem) {
  .blk-home-ami .img-container > * {
    width: 100%;
  }
}

.blk-home-ami .img-container > i {
  margin-bottom: 1em;
}

@media screen and (min-width: 42.5rem) {
  .blk-home-ami .img-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  .blk-home-ami .img-container {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
}

.blk-home-ami .lnk-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 1rem;
  justify-items: end;
  align-self: center;
  padding: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

@media screen and (min-width: 42.5rem) {
  .blk-home-ami .lnk-container {
    padding: 0;
    align-self: start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  .blk-home-ami .lnk-container {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
}

.blk-home-ami .txt-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

@media screen and (min-width: 42.5rem) {
  .blk-home-ami .txt-container .entry-content {
    column-count: 2;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  .blk-home-ami .txt-container {
    border: 1px solid #fff;
    padding: 1.25rem;
  }
  .blk-home-ami .txt-container .entry-content {
    padding: inherit;
    background-color: rgba(255, 255, 255, 0.85);
    column-count: 3;
    column-gap: 1.25rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-home-ami .txt-container {
    align-self: start;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 67.5rem) {
  .blk-home-ami .txt-container {
    grid-column: 2 / 5;
    grid-row: 3 / 5;
  }
}

/*

Style Archive Learn 

File structure :
-----------------

*/
.listing-post-home {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  margin-bottom: 2.5rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 25rem) {
  .listing-post-home {
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .listing-post-home {
    grid-column-gap: 1.25rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-post-home {
    grid-row-gap: 3.125rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-post-home {
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-post-home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 25rem) and (min-width: 67.5rem) {
  .listing-post-home {
    grid-template-columns: repeat(4, 1fr);
  }
}

.listing-post {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  margin-bottom: 2.5rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 25rem) {
  .listing-post {
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .listing-post {
    grid-column-gap: 1.25rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-post {
    grid-row-gap: 3.125rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-post {
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .listing-post {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 79.9375rem) {
  .listing-post {
    grid-template-columns: repeat(3, 1fr);
  }
}

.listing-event {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  margin-bottom: 2.5rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 25rem) {
  .listing-event {
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .listing-event {
    grid-column-gap: 1.25rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-event {
    grid-row-gap: 3.125rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-event {
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .listing-event {
    grid-template-columns: 1fr 1fr;
  }
}

.listing-ressource {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  margin-bottom: 2.5rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 25rem) {
  .listing-ressource {
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .listing-ressource {
    grid-column-gap: 1.25rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-ressource {
    grid-row-gap: 3.125rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-ressource {
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .listing-ressource {
    grid-template-columns: 1fr 1fr;
  }
}

.listing-search {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  margin-bottom: 2.5rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 25rem) {
  .listing-search {
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .listing-search {
    grid-column-gap: 1.25rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-search {
    grid-row-gap: 3.125rem;
  }
}

@media screen and (min-width: 25rem) {
  .listing-search {
    margin-bottom: 3.125rem;
  }
}

.listing-event + .listing-post {
  margin-top: 4.6875rem;
}

.event-card {
  width: 100%;
}

@media screen and (min-width: 25rem) {
  .event-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.event-card > * {
  display: inline-block;
}

@media screen and (min-width: 25rem) {
  .event-card .event-title,
  .event-card .event-date {
    margin-right: 1rem;
  }
}

.event-card .event-date {
  padding: 0.5em 0;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 25rem) {
  .event-card .event-date {
    max-width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.event-card .event-title {
  padding: 0.5em 0;
  display: block;
}

@media screen and (min-width: 25rem) {
  .event-card .event-title {
    padding: 0 0 0 1rem;
    border-left: 1px solid currentColor;
    flex: 1 1 auto;
  }
}

.event-card .button-brd {
  align-self: center;
}

.post-card {
  width: 100%;
  border-top: 3px solid #000;
}

.post-card * {
  display: block;
  margin: 0;
}

.post-card > * {
  margin-top: 1.5rem;
}

.post-card .post-thumb {
  width: 100%;
  background-color: #F8F4F4;
}

.post-card .post-thumb > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 1;
  transition: opacity .2s;
}

.post-card .post-thumb:hover > img, .post-card .post-thumb:focus > img, .post-card .post-thumb:active > img {
  opacity: 0.75;
}

.post-card .button-brd {
  display: inline-block;
}

.ressource-card {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: left;
  align-self: start;
  max-width: 100%;
}

@media screen and (min-width: 25rem) {
  .ressource-card {
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
  }
}

.ressource-card .img-container {
  flex: 0 0 auto;
  padding-right: 1rem;
  width: 14.375rem;
  max-width: 14.375rem;
}

@media screen and (min-width: 25rem) {
  .ressource-card .img-container {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 67.5rem) {
  .ressource-card .img-container {
    padding-right: 1.25rem;
  }
}

@media screen and (max-width: 24.99rem) {
  .ressource-card .img-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    border-top: 1px solid #000;
  }
}

@media screen and (min-width: 67.5rem) {
  .ressource-card .img-container {
    width: 14.375rem;
    max-width: 14.375rem;
  }
}

.ressource-card .img-container * {
  height: auto;
  width: auto;
  max-height: 11.25rem;
  max-width: 100%;
  object-fit: cover;
}

.ressource-card .txt-container {
  flex: 0 1 auto;
}

@media screen and (max-width: 24.99rem) {
  .ressource-card .txt-container {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

@media screen and (min-width: 25rem) {
  .ressource-card .txt-container {
    padding-left: 1rem;
    border-left: 1px solid #000;
  }
}

@media screen and (min-width: 25rem) and (min-width: 25rem) {
  .ressource-card .txt-container {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 25rem) and (min-width: 67.5rem) {
  .ressource-card .txt-container {
    padding-left: 1.25rem;
  }
}

.ressource-card .link-color {
  display: block;
  margin-bottom: 0.25rem;
}

.ressource-card .button-like-brd {
  margin-top: 0.5rem;
  overflow-wrap: unset !important;
  word-break: unset !important;
}

#ressource-nav {
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 8.4375rem;
}

#ressource-nav a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

@media screen and (min-width: 42.5rem) {
  #ressource-nav a {
    width: 50%;
  }
}

#ressource-nav a.left img,
#ressource-nav a.left picture {
  float: left;
}

#ressource-nav a.left i, #ressource-nav a.left p {
  padding-left: 2rem;
}

#ressource-nav a.right img,
#ressource-nav a.right picture {
  float: right;
}

#ressource-nav a.right i, #ressource-nav a.right p {
  padding-right: 2rem;
}

.post-navigation ul, .post-navigation li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-navigation li {
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  overflow: hidden;
}

.post-navigation li * {
  display: inline-block;
  vertical-align: middle;
}

.post-navigation li:last-of-type {
  margin-right: 0;
}

.post-navigation a,
.post-navigation .current-cat {
  font-size: 15px;
  line-height: 1;
  padding: 0.25em 0.5em;
}

@media screen and (min-width: 67.5rem) {
  .post-navigation a,
  .post-navigation .current-cat {
    font-size: 1rem;
  }
}

.post-navigation li,
.post-navigation a {
  font-size: inherit;
  text-decoration: none;
  color: #000;
  transition: all .2s;
}

.post-navigation li:visited,
.post-navigation a:visited {
  color: #000;
}

.post-navigation li:hover, .post-navigation li:focus,
.post-navigation a:hover,
.post-navigation a:focus {
  color: #000;
  background-color: #10A4B5;
}

.post-navigation li:active,
.post-navigation a:active {
  color: #000;
  background-color: #e94337;
  color: #000;
}

.post-navigation .current-cat {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.post-navigation .first {
  border-color: #000;
}

.post-navigation .prev {
  padding-left: 0.5em;
}

.post-navigation .next {
  padding-right: 0.5em;
}

.post-navigation .last {
  border-color: #000;
}

/* Editor stylesheet */
/*

Editor Stylesheet : Wordpress Administration style

*/
.wp-block {
  width: 100%;
  max-width: 75rem;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 81.25rem;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: 87.5rem;
}
