/*
Style Topbar [header.php]


File structure :
------------------
1 - Topbar Style
------------------
2 - Logo Style
    2.1 Logos sizes
------------------
3 - Menu style
    3.1 Reset list Style
    3.2 Menu Primary Style
    3.3 Links style
    3.4 Sub-menu style
    3.5 Sub-menu links style
------------------
4 - Social Media Style
------------------
5 - Searchbar Style
------------------
6 - Desktop Layout for Searchbar + Social Media
------------------
7 - Menu mobile
------------------
8 - Scroll  Behaviour 
------------------
9 - Content Top position

*/

$logo-height-tiny : pixel(40);
$logo-height-mobile : pixel(60);
$logo-height-tablet : pixel(80);
$logo-height-desktop : pixel(100);

#topbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    z-index: $index-navigation;

    // 1 - Topbar Style
    text-align: right;
    background: $white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
    //padding-top: 1.5rem;
    //padding-bottom: 1.5rem;
    transition: padding .4s;
    @media screen and (min-width: $tablet-width) {
        //padding-top: 3rem;
        //padding-bottom: 1rem;
    }

    // 2 - Logo Style
    #topbar-logo {
        float: left;
        text-align: left;
        margin-top:30px;
        @media screen and (max-width: $menu_width) {
            margin-top:15px;
            margin-bottom:15px; 
        }
        > * {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            transition: all .4s;
        }

        > p {
            @include font(text, bold);
            max-width: 18ch;
            @media screen and (max-width: $mobile-width) {
                max-width: 15ch;
                font-size:12px;
            }
            @media screen and (max-width: 380px) {
                max-width: 14ch;
                font-size:11px;
            }
            @media screen and (max-width: 330px) {
                font-size:10px;
            }
        }

        // 2.1 - Logos sizes
        > img,
        > picture {
            max-height: $logo-height-tiny;
            margin-right: pixel(10);
            width: auto;
            @media screen and (min-width: $mobile-width) {
                //max-height: $logo-height-mobile;
                max-height: $logo-height-desktop;
                @media screen and (min-width: $menu_width) {
                    //max-height: $logo-height-tablet;
                    max-height: $logo-height-desktop;
                    margin-right: pixel(30);
                    @media screen and (min-width: $menu_width) {
                        max-height: $logo-height-desktop;
                    }
                }
            }
            @media screen and (max-width: 380px) {
                margin-right: pixel(2);
            }
        }
    }

    // 3 - Menu style

    // 3.1 - Reset list Style
    ul {
        list-style: none;
        margin: 0; 
        padding: 0;
    }

    // 3.2 - Menu Primary Style
    ul.menu-primary {       
        font-family: $font-title;
        text-transform: uppercase; 
        @include font-weight(bold);
        @media screen and (max-width: $tablet-width - 0.01rem) {
            //margin: 2rem 0;
            margin-top: 2rem;
        }

        @media screen and (min-width: $tablet-width) {
            padding: 1rem 0;
        }

        a {
            @include link-discrete;
            line-height: $lh-small  ;
        }

        .current-menu-item > a,
        .current-menu-ancestor > a {
            text-decoration: underline;
        }

        // 3.3 Links style
        li {
            display: block;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            color: $brand-blue;

            // Mobile Screen
            @media screen and (min-width: $menu_width) {
            font-size: 2rem;    

                // Large Screen
                @media screen and (min-width: $menu_width) {
                    font-size: 1rem;
                    display: inline-block;
                    margin-left: 1.5rem;
                    margin-bottom: 0;
                    color: unset;

                    // Desktop Screen
                    @media screen and (min-width: $desktop-width) {
                        font-size: pixel(20);
                        margin-left: 2rem;
                    }
                }
            }
        }

        // 3.4 Sub-menu style
        .menu-item-has-children {

            // Desktop : dropdown
            @media screen and (min-width: $menu_width) {
                position: relative;
                padding-right: 1.5em;

                // Arrow icon
                &::after {
                    content: url(./image/arrow-down.svg);
                    width: 1em;
                    height: auto;
                    font-size: inherit;
                    position: absolute;
                    right: 0;
                    top: 0;
                    text-align: center;
                    vertical-align: middle;
                    transition: transform .2s;
                }

                // Sub-menu appears
                &:focus,
                &:focus-within,
                &:active,
                &:hover {

                    &::after {
                        color: $color-primary;
                        transform: rotate(90deg);
                    }
                    .sub-menu {
                        clip: auto !important;
                        clip-path: none;
                    }
                }
            }
        }

        // 3.5 Sub-menu links style
        .sub-menu {

            li {
                margin: 0 0 0.5em 0;
                line-height: $lh-small;
                font-size: 1rem;
            }
            // Mobile : show all links
            @media screen and (max-width: $menu_width - 0.01rem) {
            
                border-left: 2px solid $color-primary;
                padding-left: 0.5em;
                margin-top: 0.5em;
            }

            // Desktop : dropdown
            @media screen and (min-width: $menu_width) {
                text-align: left;
                position: absolute;
                z-index: $index-navigation + 10;
                top: ($lh-standard * 1em);
                clip: rect(1px, 1px, 1px, 1px);
                clip-path: inset(50%);
                overflow: hidden;
                left: 0;
                width: auto;
                padding:0.5em;
                background: $gray-light;
            }
        }
    }

    // 4 - Social Media Style
    #header-social {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {    
            display: inline-block;
            /*
            &:not(:last-child) {
                margin-right: pixel(8);
            }
            */
        }
    }

    // 5 - Searchbar Style
    #form-search {
        display: inline-block;
        max-width: 100%;   

        @media screen and (min-width: $mobile-width) and (max-width: $tablet-width - 0.01rem) {
            text-align: right;
            > * {
                text-align: left;
            }
        }

        // Desktop : Fixed width
        @media screen and (min-width: $tablet-width) {
            width: pixel(400);
            margin-right: pixel(50);
        }

        > * {
            display: inline;
            vertical-align: bottom;
            margin-right: pixel(16);
            &:last-child {
                margin-right: 0;
            }
        }

        label {
            @include font(text, bold);
            margin-bottom: 0.25rem;
        }
        
        #search {
            width: pixel(180);
            max-width: 100%;
            padding: 0.5rem 0;
            @media screen and (min-width: $tablet-width) {
                padding: 0.25rem 0;
            }
            color: inherit;
            box-sizing: border-box;
            //@include font(small, regular);
            background-color: transparent;
            outline: none;
            border: none;
            border-bottom: 1px solid $brand-blue;
            transition: all .2s;
            &::placeholder {
                color: inherit;
                opacity: 0.5;
            }
            &:not(:placeholder-shown) {
                opacity: 1;
                border-bottom-color: $color-secondary;
            }
            &:focus {
                @media screen and (min-width: $tablet-width) {
                    width: pixel(220);
                }
                border-bottom-color: $color-secondary;
                &::placeholder {
                    opacity: 1;
                }
            }
        }
    }


    // 6 - Desktop Layout for Searchbar + Social Media
    #form-search,
    #header-social {

        width: 100%;
        @media screen and (min-width: $tablet-width) {
            width: unset;
            display: inline-block;
            transition: padding .2s;

            padding-top: ($logo-height-tablet / 2) - pixel(20);
            padding-bottom: $logo-height-tablet / 2  - pixel(20);

            @media screen and (min-width: $desktop-width) {
                padding-top: $logo-height-desktop / 2  - pixel(20);
                padding-bottom: $logo-height-desktop / 2  - pixel(20);
            }
        }
    }

    #header-social {
        @media screen and (min-width: $tablet-width) {
            float: right;
        }
    }

    #burger-menu {
        /*@media screen and (max-width: $menu_width - 0.01rem) {
            margin-top: 0.75rem;
            @media screen and (max-width: $mobile-width - 0.01rem) {
                margin-top: 0.25rem;
            }
        }*/
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
    }

    // 7 - Menu mobile
    #menu {

        // Tiny + mobile sizes
        @media screen and (max-width: $menu_width - 0.01rem) {
            position: fixed;
            top: 0;
            left: 50%;
            width: 100%;
            height: 100vh;
            width: 100vw;
            box-sizing: border-box;
            overflow: scroll;
            transform: translate(50%, 0%);
            opacity: 0.5;
            background: $gray-light;
            transition: all 0.4s;
            margin: 0;

            // 4.1. Menu layout : visible
            &.menu-open {
                opacity: 1;
                transform: translate(-50%, 0%);
            }

            // Layout for Tiny screen : 1 column
            @media screen and (max-width: $mobile-width - 0.01rem) {
                padding: 1.5rem map-get($horizontal-padding-regular , $tiny-width );
                text-align: center;

                > * {
                    margin: 0;
                    margin-bottom: 2rem;
                }

                ul.menu-primary {
                    text-align: left;
                }
            }

            //  Layout for Mobile size : 2 columns
            @media screen and (min-width: $mobile-width) {
                padding: 1.5rem map-get($horizontal-padding-regular , $mobile-width );
                display: grid;
                text-align: left;
                grid-template-columns: 8rem 1fr;
                justify-items: start;

                > * {
                    grid-column: 1 / 3;
                }

                #close-menu {
                    grid-column: 1;
                    grid-row: 1;
                }
                
                #form-search {
                    grid-column: 2;
                    grid-row: 1;
                }

                ul.menu-primary {
                    grid-row: 2;
                }
            }
        }
    }
} // End of #topbar


// 8 - Scroll  Behaviour 
#topbar.scroll {

    // Padding is smaller
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    #topbar-logo{
        margin-top:0;
    }
    // Logos are smaller
    #topbar-logo > img,
    #topbar-logo > picture {
        max-height: pixel(40);
        @media screen and (min-width: $tablet-width) {
            max-height: pixel(60);
            @media screen and (min-width: $desktop-width) {
                margin-top: 0.75rem;
            }
        }
    }

    /*#burger-menu {
        margin-top: 0;
    }*/

    // Spaces are smaller
    @media screen and (min-width: $tablet-width) {
        #form-search,
        #header-social {
            padding-top: 0;
            padding-bottom: 0;
        }
        .menu-primary {
            padding: 0.5rem 0;
        }
        
    }
}

// 9 - Content Top position
// #content is not hiden behind #topbar
#content {
    padding-top: pixel(46); // equals topbar-height;
    @media screen and (min-width: $mobile-width) {
        //padding-top: pixel(61);
        padding-top: pixel(126);
        @media screen and (min-width: $tablet-width) {
            //padding-top: pixel(138);
            @media screen and (min-width: $menu_width) {
                padding-top: pixel(130);
            }
        }
    }
}