// Modal Container
.modale {
    // Modal Layout
    opacity: 0;
    position: fixed;
    z-index: 300;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    transform: translate(100%, -50%);
    box-sizing: border-box;
    transition: all .4s;
    background-color: rgba(black, 0.8);
    .closeModale {
        outline: 0;
        background-color: transparent;
        transition: all .2s;
        color: $white;
        font-size: 1rem;
        height: 4rem;
        width: 4rem;
        border-radius: 2rem;
        border: 1px solid currentColor;
        margin-bottom: 2rem;
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
            // background-color: $brand-red;
            // border-color: $brand-red;
        }
    }
    /*
    // Butoon 2 - close video
    #video-close {
        grid-row: 1 / 2;
    }
    */
    // Player Video
    iframe {
        grid-row: 2 / 3;
        //width: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        margin: auto;
        // height: auto;
        box-sizing: border-box;
    }
    #video-close,
    iframe {
        grid-column: 2;
    }
    /*
    // Overlay (Close Modal)
    #video-overlay {
        background-color: rgba(black, 0.8);
        width: 100%;
        height: 100%;
        grid-row: 1 / 4;
        grid-column: 1 / 4;
        border: none;
    }
    */
    // Modal appears
    &.active {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}





// 5.1 : Video Button
.btn-modale {
    display: block;
    line-height: 0;
    text-align: center;
    position: relative;
    transition: all .2s;
  
    // 5.1 : Video thumbnail size
    img,
    picture,
    figure {
      line-height: 1;
      width: 100%;
      max-width: pixel(600);
      height: auto;
      border-radius: 0.25rem;
      opacity: 1;
      transition: opacity .2s;
    }
  
    // 5.2 : Video icon
    &::after {
      position: absolute;
      content:"";
      top: 50%;
      left: 50%;
      transform : translate(-50%, -50%);
      width: 4rem;
      height: 4rem;
      border-radius: 2rem;
      border: 2px solid white;
      background: url(./image/player.svg) center center no-repeat;
      background-color: transparent;
      opacity: 1;
      transition: all .2s;
    }
  }
  
  // 5.3 - Interactivity
  .btn-modale {
      
      &:link,
      &:visited {
        //
      }
  
      &:hover,
      &:focus,
      &:active {
        // Icon changes
        &::after {
          background-color: $color-primary;
          border-color: $color-primary;
        }
        // Thumbnail changes
        img,
        picture,
        figure {
          opacity: 0.5;
        }
      }
  }