/*
Commun page Layout for archive templates
*/

$filter_width : (($wrapper-large - $wrapper-medium) / 2 );

#archive-content {

    max-width: $wrapper_large + ( 2 * map-get($horizontal-padding-regular, $desktop_width));
    box-sizing: border-box;
    @media screen and (min-width: $mobile_width) {
        display: grid;
        grid-template-columns: 1fr 3fr;
        @media screen and (min-width: ( ($filter_width * 4) + (2 * map-get($horizontal-padding-regular, $desktop_width)))) {
            grid-template-columns: $filter_width auto;
        }
    }

    #archive-settings {

        @media screen and (max-width: $mobile_width - 0.01rem) {
            margin-bottom: 2rem;
        }

        // Tablet + desktop
        @media screen and (min-width: $tiny_width) {

            padding-right: map-get($gutter-column, $tiny_width);
            @media screen and (min-width : $mobile_width) {

                max-width: $filter_width;
                
                @media screen and (min-width: $tablet_width) {
                    padding-right: map-get($gutter-column, $tablet_width);
                }
            }
        }
    }

    // Mobile Only
    @media screen and (max-width: $tiny_width - 0.01rem) {

        #filter-content {
            margin-top: 2rem;
            padding: 1rem;
            background-color: $white;
            border: 1px solid $black;
            
        }
    }
}
