/*
Filters used on archive page
*/

#archive-filter {

    input[type="checkbox"] {
        -webkit-appearance: none;
    }
    details:last-child {
      padding-bottom: 0;
    }
}

// Show / hide filters content on mobile
#filter-content {
  @media screen and (max-width : $mobile_width) {

    padding: map-get($gutter-column, $tiny_width);
    background: $white;
    border: 1px solid $black;
    margin-top: 1rem;

    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;


    &.filter-open,
    &:focus,
    &:focus-within {
      clip: none;
      height: unset;
      width: 100%;
      overflow: visible;
      position: unset;
      white-space: unset;
    }
  }
}

// Show / Hide filter buttons
#archive-buttons.filter-open > button:first-child {
    display: none;
  }

#archive-buttons:not(.filter-open) > button:last-child {
    display: none;
}



// Default Summary style
summary {
  @include font(h6);
  @include link-base; // Same styl as link : color changes on hover
  font-family: $font-title;

  // 1 - Hide default icon
  list-style: none; // Firefox trick
  &::-webkit-details-marker,
  &::marker {
      display: none; // Chrome & Safari trick
  }

  // 2 - Create a new icon
  cursor: pointer;
  &::after {
      content: "+";
      content: url(./image/arrow-down.svg);
      float: right;        
      transform: rotate(0deg);
      transition: .2s transform;
  }

  //3 - Focus and active states
  &:focus-visible,
  &:focus,
  &:active {
    outline: none;
    background-color: transparent;
  }
}

  // 3 - When details are open, icon moves
  details[open] > summary::after {
      transform: rotate(90deg);
  }


/* Customize the label (the container) */
.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include font(text);
  line-height: $lh-small;
  margin-top: 0.5em;
  padding-left: 1.5rem;

  /*
  &:focus,
  &:focus-within {
    background: $color-secondary;
  }
  */

    /* Hide the browser's default checkbox */
  input {
    position: absolute;
    //opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: $white;
    border: 1px solid $black;
    transition: all .2s;
    &:focus {
      background-color: $color-secondary;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 0.25rem;
      top: 0.125rem;
      width: 0.2rem;
      height: 0.4rem;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: $gray-medium;
}

/* On focus, add an orange background color */
.custom-checkbox:focus input ~ .checkmark {
  border-color: $black;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: $color-primary;
  border-color: $color-primary;
  /* Show the checkmark when checked */
  &:after {
    display: block;
  }
}
