$map-margin-zoom : pixel(58);

#archive-project {
    display: grid;
    background: $gray-light;
    align-items: start;
    grid-template-columns: $map-margin-zoom auto map-get($horizontal-padding-regular, null); ;
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: $map-margin-zoom auto map-get($horizontal-padding-regular, $mobile_width);
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: $map-margin-zoom 1fr 3fr map-get($horizontal-padding-regular, $tablet_width);
            @media screen and (min-width: $desktop_width) {
                grid-template-columns: map-get($horizontal-padding-regular, $desktop_width) 1fr 3fr map-get($horizontal-padding-regular, $desktop_width);
            }
        }
    }

    #archive-settings {
        grid-row: 1;
        grid-column: 2 / 3;
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
        z-index: 10;
        background-color: $white;
        padding: map-get($vertical-padding-tiny, $tablet_width);
        
    }

    #map {
        z-index: 1;
        grid-row: 1;
        grid-column: 1 / 4;
        @media screen and (min-width: $tablet_width) {
            grid-column: 1 / 5;
        }
        /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
        min-height: pixel(400);
        height: 60vh;
        width: 100%;
    }
}

