/*

Gutenberg Core blocks

File structure :
------------------
1 - #raw-content : Gutenberg Blocks Container
------------------
2 - Default Gutenberg Blocks
------------------
3 - Custom Gutenberg Blocks

*/

// 1 - #raw-content : Gutenberg Blocks Container
#raw-content {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    // Top space for first element
    > *:not(.wp-block):first-child {
        @include spacing(margin-top, $vertical-padding-small);
    }

    // 2 - Default Gutenberg Blocks
    > *:not(.wp-block) {
        padding: 0;
        width: 100%;
        max-width: $wrapper_medium + ( 2 * map-get($horizontal-padding-regular , $desktop-width )); // Wrapper_large.width + padding-left + padding-right
        margin-left: auto;   // Blocs are centered
        margin-right: auto;  // Blocs are centered
        @include spacing (padding-left, $horizontal-padding-regular);
        @include spacing (padding-right, $horizontal-padding-regular);

        // In case of list-items
        list-style-position: inside;

        // Children must not create overflow
        * {
            max-width: 100%;
        }
    }

    // 3 - Custom Gutenberg Blocks
    // Custom Gutenberg Blocks use a specific class : .wp-block;
    /*
    > .wp-block {
        background: red;
    }
    */
}
