.blk-faq {

    h2 {
        padding: 0 1rem;
    }

    h2.ami1-color1 {
        color: $black;
    }

    details {
        border-top: 1px solid $black;
        background: $white;
        padding: 1rem;
        // Question
        summary {
            @include font-weight(bold);
            transition: all .2s;
        }

        // Réponse
        .entry-content {
            margin-top: 1rem;
        }
    }

    details[open] > summary {
        color: $color-secondary;
    }

}