.listing-partner {
    // Grid style
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    align-items: start;
    @include universal-grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: repeat(2, 1fr);
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: repeat(3, 1fr);
            @media screen and (min-width: $desktop_width) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    // Single partner style
    .partner-card {
        padding: 0;
        margin: 0;
        .img-container {
            width: 100%;
            background-color: $white;
            > * {
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
        .img-container,
        h2 {
            margin-bottom: pixel(24);
        }
        > a{
            display: block;
            margin-top: 0.5em;
        }
    }
}