/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------

*/

$sub-menu-item : pixel(240);

.blk-sub-menu{
    nav{
        margin-top:-2em;
    }
    margin-bottom:0;
}
.blk-submenu-item {
    display: inline-block;
    padding: 1rem;
    max-width: 100%;
    vertical-align: top;
    
   
    .image-container {
        display: block;
        background: $gray-light;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        @media screen and ( min-width : $sub-menu-item + ( 2 * map-get($horizontal-padding-regular, $mobile_width)) ) {
            width: $sub-menu-item;
            height: $sub-menu-item;
            border-radius: ($sub-menu-item / 2);
        }

        > * {
          min-width: 100%;
          min-height:  100%;
          object-fit: cover;
        }
    }

    p {
        //color: inherit;
        margin-top: 2rem;
        position: relative;
        max-width: $sub-menu-item;
        &::after {
            content:"";
            position: absolute;
            left: 50%;
            top: -2rem;
            height: 1.25rem;
            width: 2px;
            background-color: currentColor;
        }
    }
}




