/*

Style Archive Learn 

File structure :
-----------------

*/

// Listing with 4 columns on desktop
@mixin listing-4-col {
    display: grid;
    @include universal-grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: $tiny_width) {
        grid-template-columns: repeat(2, 1fr);
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

// Listing with 3 columns on desktop
@mixin listing-3-col {
    display: grid;
    @include universal-grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: repeat(2, 1fr);
        @media screen and (min-width: $desktop_width) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
} 

// Listing with 2 columns on desktop
@mixin listing-2-col {
    display: grid;
    @include universal-grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: 1fr 1fr;
    }
}

// Listing with 2 columns on desktop
@mixin listing-2-col-large {
    display: grid;
    @include universal-grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: $tablet_width) {
        grid-template-columns: 1fr 1fr;
    }
}

// Listing with 1 column on desktop
@mixin listing-1-col {
    display: grid;
    @include universal-grid;
    grid-template-columns: 1fr;
}




.listing-post-home {
    @include listing-4-col;
}
 
.listing-post {
    @include listing-3-col;
}

.listing-event {
    @include listing-2-col;
}

.listing-ressource {
    @include listing-2-col-large;
}

.listing-search {
    @include listing-1-col;
}

    // Page Actuality & events :
    .listing-event + .listing-post {
        margin-top: pixel(75);
    }
