.post-navigation {
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;

    }

    li {
        display: inline-block;
        margin-right: 0.5rem;
        border-radius: pixel(4);
        border: 1px solid transparent;
        overflow: hidden;

        * {
            display: inline-block;
            vertical-align: middle;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    a,
    .current-cat {
        @include font(text);
        line-height: 1;
        padding: 0.25em 0.5em;
    }

    li,
    a {
        font-size: inherit;
        //@include link-base;
        text-decoration: none;
        color: $black;
        transition: all .2s;

        &:visited {
            color: $black;
        }

        &:hover,
        &:focus {
            color: $black;
            background-color: $color-primary;
        }

        &:active{
            color: $black;
            background-color: $color-secondary;
            color: $black;
        }
    }

    .current-cat {
        color: $white;
        background-color: $black;
        cursor: pointer;
    }

    // Special Links

    .first {
        border-color: $black;
    } 
    .prev {
        padding-left: 0.5em;
    }
    .next {
        padding-right: 0.5em;
    }
    .last {
        border-color: $black;
    }
}