// Single post card
.post-card {
    width: 100%;
    border-top: 3px solid $black;

    * {
        display: block;
        margin: 0;
    }

    > * {
        margin-top: 1.5rem;
    }

    .post-thumb {
        width: 100%;
        background-color: $gray-light;
    
        > img {
            width: 100%;
            height: auto;
            object-fit: cover;
            opacity: 1;
            transition: opacity .2s;
        }
    
        &:hover,
        &:focus,
        &:active {
            > img {
                opacity: 0.75;
            }
        }
    }

    .button-brd {
        display: inline-block;
    }
}